.main-side-bar
  .main-side-bar__movie
    .main-side-bar__youtube
      %ul
        %iframe#player{frameborder: "0",width: "250", height: "142", src: "https://www.youtube.com/embed/a3GHRZJFZgI"}
      -# %li
      -#   %iframe#player{frameborder: "0",width: "250", height: "142", src: "https://www.youtube.com/embed/EhGfLR8gsSc"}
      -# %li
      -#   %iframe#player{frameborder: "0",width: "250", height: "142", src: "https://www.youtube.com/embed/fge6wXgVwrk"}
      -# %li
      -#   %iframe#player{frameborder: "0",width: "250", height: "142", src: "https://www.youtube.com/embed/_lh78HpZPQA"}
    .main-side-bar__movie-icon
      <script src="https://apis.google.com/js/platform.js"></script>
      <div class="g-ytsubscribe" data-channelid="UC-UdhwYHqW7bam7rKcRuUIg" data-layout="full" data-theme="dark" data-count="default"></div>
    -# .main-side-bar__audition
    -#   音楽試聴
    -# .main-side-bar__itunes
    -#   %i.fa.fa-itunes-note
    -#   =fa_icon "itunes-note"
    -#   iTunesへの直リンク
    -# .calendar
    -#   ライブスケジュールの予定