.schedule
  【最新スケジュール】
  .schedule__box
    .schedule__title
      .schedule__live-house
        .schedule__date
          .schedule__open
            .schedule__message
              広島サンモール内chou chou angeにて交流イベント決定！！！
              一部と二部でメンバー様は衣装チェンジ勿論両方の参加も可能です
              ※お好きな時間をお選び頂けます
              ※キャンセル不可
              詳細お申し込みははこちら↓
              http://ameblo.jp/chouchouange/entry-12282174080.html
            .schedule__start
              第一部♡15:30〜17:00第二部♡17:30〜19:00
            .schedule__price
              チケット代一部につき¥2,000
              ご予約受付中です
              ※第一部、第二部両方のご参加を希望の方は
              それぞれの部のチケット購入が必要となります

  -# .schedule__map
  -#   google-API