.wrapper
  .header
    = render '/contents/main-header'
    -# = render '/contents/main-side-bar'
    .main-contents
      .contents-title
        Info
      .info
        .info__contents
          ※次回ライブ未定
= render '/contents/footer'